@keyframes logo {
  from{color:red;}
  to{color:rgb(85, 204, 255);}
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: #494848;
  font-size: 16px;

}

header{
  background-color: rgb(42, 42, 42);
  width: 100%;
  padding:0.1% 0;
  position: relative;
  color:white;
  border-bottom: 2px solid red;
  font-family: 'Times New Roman', Times, serif;

}
h1{
  margin-left: 2%; 
  display: inline-block;
  animation: logo 7s alternate-reverse infinite;
}
#func-logout {
  position: absolute;
  width:100%;
  top:40%;
  text-align:right;
  right:2%;
  font-size: 1.5vw;
}
#func-logout span {
  color:red;
}
#btn-logout {
  border-radius: 5px;
  background-color:#5a5959;
  color:red;
  font-weight: 700;
  border:1px solid red;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}
#btn-logout:hover {
  border:1px solid white;
}
#form-signup{
  background-color: #535353;
  width:20%;
  min-width: 200px;
  position: relative;
  margin: 2% auto;
  padding:2%;
  text-align: center;
  border-radius: 10px;
  border:2px solid black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size:0.9em;
}

#display-admin-users {
  background: #717070;
  margin-bottom: 2%;
  width: 100%;
  border-bottom:2px solid #000000;
  padding:1% 0;
  padding-bottom:2%;
  text-align: center;
}

#admin-user_settings {
  background-color: rgb(66, 65, 65);
  padding:0.5% 0;
  width:100%;
  position: relative;
  left:0;
  margin: 0 auto;
  min-width: 200px;
  margin-top:2%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color:white;


}
#form-login {
  position: absolute;
  width:100%;
  text-align: right;
  top:40%;
}

#form-login span {
  position: relative;
  margin-right:0.5%;
}
#form-login input{
  position: relative;
  margin-right:2%;
  width: 15%;
  border-radius: 5px;
  padding-left: 0.5%;
  font-size: 0.7em;
  font-weight: 700;

}

.display-user {
  background-color: rgb(201, 7, 7);
  padding:0.7%;
  width: 90%;
  min-width: 200px;
  margin-left:1%;
  position: relative;
  left:0;
  margin-top:2%;
  border: 2px solid #000000;
  border-radius: 5px;
  display: inline-block;
  text-align: left;
  box-shadow:0px 2px 4px 0px black;
}

.user-username {
  background: #3b3b3b;
  padding: 0.5%;
  width: 15%;
  text-align: left;
  border-radius: 5px;
  border: 2px solid black;
  color:white;
  text-shadow:2px 1px black;
  display: inline-block;
  font-size: 1vw;
  overflow: hidden;
  box-shadow: inset 0px 0.5px 2px 0px black;
}
.user-info {
  background: #606060;
  padding: 0.5%;
  margin-left:1%;
  width:20%;
  text-align: left;
  border-radius: 5px;
  border: 2px solid black;
  color:white;
  text-shadow:2px 1px black;
  display: inline-block;
  font-size:1vw;
  overflow: hidden;
  box-shadow: inset 0px 0.5px 2px 0px black;
}
.user-info span {
  color:red;
}
.user-id {
  background: #606060;
  padding: 0.5%;
  margin-right:1%;
  width:1%;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  color:white;
  text-shadow:2px 1px black;
  display: inline-block;
  font-size:1vw;
  box-shadow: inset 0px 0.5px 2px 0px black;
  overflow: hidden;
}

.user-admin {
  background: #606060;
  padding: 0.5%;
  margin-left:1%;
  width:10%;
  text-align: left;
  border-radius: 5px;
  border: 2px solid black;
  color:white;
  text-shadow:2px 1px black;
  display: inline-block;
  font-size:1vw;
  overflow: hidden;
  box-shadow: inset 0px 0.5px 2px 0px black;
}
.user-admin span {
  color:orange;
  
}
.user-remove {
  background: #606060;
  padding: 0.5%;
  margin-left:1%;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  color:white;
  text-shadow:2px 1px black;
  display: inline-block;
  font-size:1vw;
  overflow: hidden;
  box-shadow: 0px 0.5px 2px 0px black;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

.user-remove:hover {
  border:1px solid rgb(79, 167, 255);
  cursor: pointer;
}
